.cells-container{
    width: 50%;
    height:50%
}

.grid-templates{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.grid-cell{
    border: 1px solid black;
    height: 100px;
    margin: 10px;
    background-color: whitesmoke;
}