.header {
    display: flex;
    justify-content: center;
}

.percentage-bar {
    width: 80%;
    position: relative;
    border: 1px solid black;
    height: 30px;
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
    background-color: #e0e0e0;
}

.progress-fill {
    height: 100%;
    background-color: green;
    transition: width 0.1s linear;
}

.progress-value{
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    align-items: center;
    width:100%;
    font-weight: bold;
}